recursive-include loggerflow/lifecycle/static *
recursive-include loggerflow/lifecycle/templates *
recursive-include loggerflow/utils *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
exclude loggerflow.egg-info