<div class="d-flex justify-content-center align-items-center mt-1">
    <div class="text-center">
    <div class="image-wrapper mt-2">

        <img src="/static/loggerflow_red_eye.svg" alt="LoggerFlow" class="mb-3 mt-3" style="width: 100px;">
        <img src="/static/bone.svg" class="mb-5" style="width: 40px;"></div>
        <h2>Connect your first app</h2>
        <p>Start very easily monitoring your applications with LoggerFlow.</p>
        <a href="https://github.com/DeNRuDi/loggerflow?tab=readme-ov-file#simple-start-with-lifecycle" target="_blank" class="btn">Get Started</a>
    </div>
</div>
