<div class="d-flex justify-content-center align-items-center mt-1">
    <div class="text-center">
        <img src="/static/loggerflow.svg" alt="LoggerFlow" class="mb-3" style="width: 100px;">
        <img src="/static/bone.svg" class="mb-5" style="width: 40px;">
        <h2>Connect your first app</h2>
        <p>Start very easily monitoring your applications with LoggerFlow.</p>
        <a href="https://github.com/DeNRuDi/loggerflow?simple-start-with-lifecycle" target="_blank" class="btn">Get Started</a>
    </div>
</div>
