.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a,
.pagination .current-page {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    text-decoration: none;
    color: #233354;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .current-page {
    font-weight: bold;
    background-color: #233354;
    color: #fff;
}